### Problem 1:
 Load the Titanic dataset from file â€’ Using the
Titanic dataset (titanic_rev.csv) that is uploaded on the LMS.
Print the dimension of the dataset.

In [6]:
import pandas as pd

arr = pd.read_csv('/Users/john1256/KASI_Ms/2025/Data_Science/titanic_rev.csv')
arr.shape

(891, 12)

### Problem 2:
Print how many non-null values there are in
each column